<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	
	<!-- 관리자 여부 -->
	<select id = "isAdmin" parameterType = "int" resultType = "String">
		select user_grade from dang_user where user_no = #{userNo}
	</select>

	<select id="recentLogin" resultType="int">
		SELECT count(*) FROM dang_user u WHERE u.user_logindate >= TO_CHAR(SYSDATE-7,'YYYYMMDD')
	</select>
	<select id="recentJoin" resultType="int">
		SELECT count(*) FROM dang_user u WHERE u.user_joindate >= TO_CHAR(SYSDATE-7,'YYYYMMDD')
	</select>
	<select id="recentDang" resultType="int">
		SELECT count(*) FROM dang d WHERE d.dang_createtime >= TO_CHAR(SYSDATE-7,'YYYYMMDD')
	</select>
	<select id="recentSchdule" resultType="int">
		SELECT count(*) FROM dang_schedule s WHERE s.schedule_start >= TO_CHAR(SYSDATE-7,'YYYYMMDD')
	</select>
	<select id="dangGroupRegion" resultType="DangGroupRegionVO">
		select d.dang_area, count(d.dang_area) cnt from dang d GROUP by dang_area
	</select>
</mapper>