<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">

	<!-- room 번호(시퀀스) 미리 생성 -->
	<select id="roomSequence">
		select room_seq.nextval from dual
	</select>
  
  	<!-- room 등록 -->
	<insert id="roomInsert" parameterType="RoomDto">
		insert into room values(#{roomNo}, #{dangNo})
	</insert>
	
	<!-- room 번호 조회 -->
	<select id="findRoomNo" parameterType="int" resultType="int">
		select room_no from room where dang_no=#{dangNo}
	</select>
	
	<!-- dang_chat 등록 -->
	<insert id="chatInsert" parameterType="DangChatDto">
		insert into dang_chat values(dang_chat_seq.nextval, #{roomNo}, #{userNo}, 
		#{memberNick}, #{chatType}, #{chatContent}, sysdate, #{chatStatus})
	</insert>
	
	<!-- 채팅 메세지 조회(채팅, 회원프로필 조인) -->
	<select id="chatHistory" parameterType="int" resultType="ChatHistoryVO">
		select d.*, img.attachment_no 
		from dang_chat d left outer join user_img img 
		on d.user_no=img.user_no where room_no=#{roomNo} 
		order by d.chat_no asc
	</select>
  
</mapper>
  
  
  