<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">

	<!-- room 번호(시퀀스) 미리 생성 -->
	<select id="roomSequence" resultType = "int">
		select room_seq.nextval from dual
	</select>
  
  	<!-- room 등록 -->
	<insert id="roomInsert" parameterType="RoomDto">
		insert into room values(#{roomNo}, #{dangNo})
	</insert>
	
	<!-- room 번호 조회 -->
	<select id="findRoomNo" parameterType="int" resultType="int">
		select room_no from room where dang_no=#{dangNo}
	</select>
	
	<!-- room 번호(시퀀스) 미리 생성 -->
	<select id="chatSequence" resultType = "int">
		select dang_chat_seq.nextval from dual
	</select>
	
	<!-- dang_chat 등록 -->
	<insert id="chatInsert" parameterType="DangChatDto">
		insert into dang_chat values(#{chatNo}, #{roomNo}, #{userNo}, 
		#{memberNick}, #{chatType}, #{chatContent}, sysdate, #{chatStatus})
	</insert>
	
	<!-- 채팅 메세지 최신순 20개만 조회(채팅, 채팅이미지, 회원프로필 조인) -->
	<select id="chatHistory" parameterType="int" resultType="ChatHistoryVO">
		select * from (
			select TMP.*, rownum rn from (
				select a.*, uimg.attachment_no from (
			        select d.*, cimg.attachment_no as img_attachment_no from dang_chat d
			        left outer join chat_img cimg on d.chat_no=cimg.chat_no
		        ) a left outer join user_img uimg on a.user_no=uimg.user_no
		        where a.room_no=#{roomNo} order by a.chat_no desc
			 )TMP
		) where rn between 1 and 20  order by rn desc
	</select>
	
	<!-- 채팅 내역 무한스크롤 20개씩 조회 -->
	<select id="scrollHistory" parameterType="Map" resultType="ChatHistoryVO">
		select * from (
			select TMP.*, rownum rn from (
				select a.*, uimg.attachment_no from (
			        select d.*, cimg.attachment_no as img_attachment_no from dang_chat d
			        left outer join chat_img cimg on d.chat_no=cimg.chat_no
		        ) a left outer join user_img uimg on a.user_no=uimg.user_no
		        where a.room_no=#{roomNo} and <![CDATA[a.chat_no<#{chatNo}]]> 
		        and <![CDATA[a.chat_no>0]]> order by a.chat_no asc
			 )TMP
		) where rn between 1 and 20
	</select>
	
	<!-- chat_img 등록 -->
	<insert id="imgInsert" parameterType="ChatImgDto">
		insert into chat_img values(#{chatNo}, #{attachmentNo})
	</insert>
	
	<update id="updateNick" parameterType="DangChatDto">
		update dang_chat set member_nick=#{memberNick} where room_no=#{roomNo} and user_no=#{userNo}
	</update>
	
	<!-- 탈퇴한 댕모임회원의 채팅내역 삭제 -->
	<delete id="deleteChatList" parameterType="Map">
		delete dang_chat where room_no=#{roomNo} and user_no=#{userNo}
	</delete>
  
</mapper>
  
  
  