<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="place">

	<!-- 시퀀스 선발급-->
	<select id="sequence" resultType="int">
		select DANG_PLACE_SEQ.nextval from dual
	</select>

	<insert id="placeInsert" parameterType="DangPlaceDto">
		insert into dang_place(place_no,place_x,place_y,place_sort,place_name,place_info,place_address,place_operation,place_off,place_tel,place_url,place_area,dang_size)
			VALUES(
			#{placeNo},
			#{placeX},
			#{placeY},
			#{placeSort},
			#{placeName},
			#{placeInfo},
			#{placeAddress},
			#{placeOperation},
			#{placeOff},
			#{placeTel},
			#{placeUrl},
			#{placeArea},
			#{dangSize}
			)
	</insert>
	
	<select id="placeList" resultType="DangPlaceDto">
		select * from dang_place
	</select>
	
	<select id="listOne" resultType="DangPlaceDto" parameterType="int">
		select p.*, i.attachment_no from dang_place p INNER JOIN place_img i on p.place_no = i.place_no where p.place_no = #{placeNo}
	</select>
	
	<insert id="placeImg" parameterType="PlaceImg">
		insert into place_img VALUES(#{placeNo},#{attachmentNo})
	</insert>
	
	<select id="countAll" resultType="int">
		select count(*) from dang_place
	</select>
	
	<select id="searchPlace" resultType="DangPlaceDto" parameterType="String">
		select p.*, i.attachment_no from dang_place p INNER JOIN place_img i on p.place_no = i.place_no  where instr(place_name, #{placeName})>0
	</select>
	
	<delete id="placeDelete" parameterType="int">
		delete dang_place WHERE place_no =  #{placeNo}
	</delete>
	
	<update id="placeEdit" parameterType="DangPlaceDto">
		update dang_place 
		    SET 
			place_area = #{placeArea},
			place_x = #{placeX},
			place_y = #{placeY},
			place_sort = #{placeSort},
			place_name = #{placeName},
			place_info = #{placeInfo},
			place_address = #{placeAddress},
			place_operation = #{placeOperation},
			place_off = #{placeOff},
			place_tel = #{placeTel},
			place_url = #{placeUrl},
			dang_size = #{dangSize}
			where place_no = #{placeNo}
	</update>
	<!-- 영역내 마커 -->
	<select id="placeListArea" resultType="DangPlaceDto" parameterType="Map">
		select * from dang_place where place_x >= #{lng1} and place_y >= #{lat1} <![CDATA[ and place_x <= #{lng2} and place_y <= #{lat2} ]]>
	</select>
</mapper>