<?xml version="1.0" encoding="UTF-8"?>

<!-- DOCTYPE 설정을 통해 자동완성 + 문법검사 수행 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper 내부에 SQL 구문을 배치
	- namespace : 외부에서 부르기 위한 별칭(테이블명으로 작성)
-->
<mapper namespace="schedule">

		<!-- 시퀀스 발행 -->
  		<select id="sequence" resultType="int">
  			select dang_schedule_seq.nextval from dual
  		</select>
  		
  		<!-- 아지트 번호로 스케줄 목록 검색하여 출력 -->
  		<select id="scheduleList" parameterType="int" resultType="DangScheduleDto">
  			select schedule_no, schedule_member_no, schedule_ahzit_no, schedule_title, 
  			to_char(schedule_start, 'YYYY-MM-DD HH24:MI:SS') schedule_start, 
  			to_char(schedule_end, 'YYYY-MM-DD HH24:MI:SS') schedule_end,  
  			schedule_allday from schedule where schedule_ahzit_no=#{scheduleAhzitNo} 
  			order by schedule_start asc
  		</select>
  		
  		<!-- 스케줄 번호로 일정 목록 검색하여 출력(달력 우측) -->
  		<select id="listSysdate" parameterType="int" resultType="DangScheduleDto">
  			select schedule_no, member_no, place_no, schedule_title, schedule_content,
  			schedule_headmax,
  			to_char(schedule_start, 'YYYY-MM-DD HH24:MI:SS') schedule_start, 
  			to_char(schedule_end, 'YYYY-MM-DD HH24:MI:SS') schedule_end,  
  			from dangSchedule where schedule_no=#{scheduleNo} 
  			and schedule_start>=sysdate order by schedule_start asc
  		</select>
  		  		
  		<!-- 댕모임 회원이 일정페이지에서 일정 등록 -->
  		<insert id="insert" parameterType="DangScheduleDto">
  			insert into schedule values(dang_schedule_seq.nextval, #{memberNo}, #{placeNo}, #{scheduleTitle}, #{scheduleContent},
  			#{scheduleHeadmax}, to_date(#{scheduleStart},'YYYY-MM-DD HH24:MI:SS'), to_date(#{scheduleEnd},'YYYY-MM-DD HH24:MI:SS'));
  		</insert>
  		
  		<!-- 스케줄 입력(시퀀스번호 미리발행 -->
		<insert id="insert2" parameterType="DangScheduleDto">
			insert into dangSchedule(schedule_no, member_no, place_no, schedule_title, schedule_content, schedule_maxhead, schedule_start, schedule_end) values(#{scheduleNo}, #{MemberNo}, #{placeNo}, #{scheduleTitle}, #{scheduleContent}, #{scheduleMaxhead}, to_date(#{scheduleStart},'YYYY-MM-DD HH24:MI:SS'), to_date(#{scheduleEnd},'YYYY-MM-DD HH24:MI:SS'))
		</insert>
		
		<!-- 스케줄 삭제 -->
		<delete id="delete" parameterType="int">
			delete dangSchedule where schedule_no=#{scheduleNo}
		</delete>
		
		
</mapper>