<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dangMember">

	<!-- 댕모임 회원 번호 반환 -->
	<select id = "memberNo" resultType = "int">
		select dang_member_seq.nextval from dual
	</select>

	<!-- 댕모임 개설시 개설자로 가입 -->
	<insert id = "createDang" parameterType = "DangMemberDto">
		insert into dang_member(member_no, dang_no, user_no, member_nick, member_owner) values(#{memberNo}, #{dangNo}, #{userNo}, #{memberNick}, 'Y')
	</insert>

	<!-- 오늘 출석했는지 여부 반환 -->
	<select id="isAttendance" resultType="DangAttendanceDto" parameterType="int">
		select*from dang_attendance where member_no=#{memberNo} and 
		to_char(attendance_date,'yyyymmdd')=to_char(sysdate,'yyyymmdd')
	</select>
	
	<!-- 출석 테이블 insert -->
	<insert id="attendanceInsert" parameterType="DangAttendanceDto">
		insert into dang_attendance(member_no, attendance_date) values(#{memberNo}, sysdate)
	</insert>
	
	<!-- 출석 목록조회(한달기준) -->
	<select id="attendanceList" resultType="DangAttendanceDto"  parameterType="int">
		select*from dang_attendance where member_no=#{memberNo} and 
		to_char(attendance_date,'yyyymm')=to_char(sysdate,'yyyymm')
	</select>

	<!-- 댕모임 닉네임 찾기 -->
	<select id = "findNick" resultType = "String" parameterType="int">
		select member_nick from dang_member where user_no=#{userNo}
	</select>
	
	<!-- 댕모임 회원 단일조회 -->
	<select id="fintMember" resultType="DangMemberDto" parameterType="DangMemberDto">
		select * from dang_member where user_no=#{userNo} and dang_no=#{dangNo}
	</select>
	
	<!-- 댕모임 회원등급 포인트 증가 -->
	<update id="plusScore" parameterType="DangMemberDto">
		update dang_member set member_score=member_score+#{memberScore} where member_no=#{memberNo}
	</update>
	
	<!-- 댕모임 회원 포인트 조회 -->
	<select id="findScore" resultType="int" parameterType="int">
		select member_score from dang_member where member_no=#{memberNo}
	</select>
	
	<!-- 회원별 댕모임 수 조회-->
	<select id="joinDangCount" resultType="int" parameterType="int">
		select count(*) from dang_member where user_no=#{userNo}
	</select>
	
</mapper>