<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dangPuppy">

	<!-- 댕댕이 번호 반환 -->
	<select id = "puppyNo" resultType = "int">
		select dang_puppy_seq.nextval from dual
	</select>
	
	<!-- 댕댕이 등록 -->
	<insert id = "insertPuppy" parameterType = "DangPuppyDto">
		insert into dang_puppy(puppy_no, user_no, puppy_name, puppy_gender, puppy_age) values(#{puppyNo}, #{userNo}, #{puppyName}, #{puppyGender}, #{puppyAge})
	</insert>
	
	<!-- 댕댕이 특이사항 등록 -->
	<insert id = "insertPuppyCharacter" parameterType = "map">
		insert into puppy_character(puppy_no, character_content) values(#{puppyNo}, #{characterContent})
	</insert>
	
	<!-- 댕댕이 프로필 사진 등록 -->
	<insert id = "insertPuppyImg" parameterType = "map">
		insert into puppy_img(puppy_no, attachment_no) values(#{puppyNo}, #{attachmentNo})
	</insert>
	
	<!-- 댕댕이 특이사항 조회 -->
	<select id = "selectPuppyCharacterList" parameterType = "int" resultType = "String">
		select character_content from puppy_character where puppy_no = #{puppyNo}
	</select>
	
	<!-- 특정 회원의 댕댕이 정보 조회 -->
	<select id = "selectPuppyList" parameterType = "int" resultMap = "dangPuppyInfo">
		select pup.puppy_no, pup.puppy_name, pup.puppy_gender, pup.puppy_age, img.attachment_no 
		from dang_puppy pup 
		left outer join 
		puppy_img img 
		on pup.puppy_no = img.puppy_no 
		where user_no = #{userNo}
	</select>
	<resultMap id = "dangPuppyInfo" type = "DangPuppyListDto">
		<association property="dangPuppyInfoDto">
			<result column = "puppy_no" property = "puppyNo"/>
			<result column = "puppy_name" property = "puppyName"/>
			<result column = "puppy_gender" property = "puppyGender"/>
			<result column = "puppy_age" property = "puppyAge"/>
			<result column = "attachment_no" property = "attachmentNo"/>
		</association>
		<collection column = "puppy_no" property = "dangPuppyCharacter" ofType = "String" select = "selectPuppyCharacterList"></collection>
	</resultMap>
	
	<!-- 댕댕이 정보 수정 -->
	<update id = "updatePuppy" parameterType = "DangPuppyInfoDto">
		update dang_puppy set puppy_name = #{puppyName}, puppy_age = #{puppyAge}, puppy_gender = #{puppyGender} where puppy_no = #{puppyNo}
	</update>
	
	<!-- 댕댕이 특이사항 삭제 -->
	<delete id = "deletePuppyCharacter" parameterType = "int">
		delete puppy_character where puppy_no = #{puppyNo}
	</delete>
	
	<!-- 댕댕이 첨부파일 조회 -->
	<select id = "findPuppyImg" parameterType = "int" resultType = "int">
		select attachment_no from puppy_img where puppy_no = #{puppyNo}
	</select>
</mapper>