<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dang">

	<!-- 댕모임 번호 반환 -->
	<select id = "dangNo" resultType = "int">
		select dang_seq.nextval from dual
	</select>

	<!-- 댕모임 개설 (공개) -->
	<insert id = "createPublic" parameterType = "DangDto">
		insert into dang(dang_no, dang_area, user_no, dang_name, dang_info, dang_headmax) values(#{dangNo}, #{dangArea}, #{userNo}, #{dangName}, #{dangInfo}, #{dangHeadmax})
	</insert>
  
  	<!-- 댕모임 개설 (비공개) -->
  	<insert id = "createPrivate" parameterType = "DangDto">
  		insert into dang(dang_no, dang_area, user_no, dang_name, dang_info, dang_headmax, dang_private, dang_pw) values(#{dangNo}, #{dangArea}, #{userNo}, #{dangName}, #{dangInfo}, #{dangHeadmax}, 'Y', #{dangPw})
  	</insert>
  	
  	<!-- 댕모임 프로필 첨부파일 정보 등록 -->
  	<insert id = "insertDangImg" parameterType = "map">
  	  	insert into dang_img(dang_no, attachment_no) values(#{dangNo}, #{attachmentNo})
  	</insert>
  	
  	<!-- 댕모임 회원인지 확인 -->
  	<select id = "isDangMember" parameterType = "map" resultType = "int">
  		select member_no from dang_member where dang_no = #{dangNo} and user_no = #{userNo}
  	</select>
  	
  	<!-- 댕모임 정보 조회 -->
  	<select id = "selectDangEditInfo" parameterType = "int" resultType = "DangInfoVO">
  		select d.dang_no, d.dang_name, d.dang_info, d.dang_headmax, d.dang_head, d.dang_private, d.dang_pw, d.dang_area, di.attachment_no
  			from dang d left outer join dang_img di on d.dang_no = di.dang_no where d.dang_no = #{dangNo}
  	</select>
  	
  	<!-- 댕모임 정보 수정(공개 전환) -->
  	<update id = "editDangInfoPublic" parameterType = "DangInfoVO">
  		update dang set dang_name = #{dangName}, dang_info = #{dangInfo}, dang_headmax = #{dangHeadmax}, dang_private = #{dangPrivate}, dang_pw = null, dang_area = #{dangArea} where dang_no = #{dangNo}
  	</update>
  	
  	<!-- 댕모임 정보 수정(비공개 전환) -->
  	<update id = "editDangInfoPrivate" parameterType = "DangInfoVO">
  		update dang set dang_name = #{dangName}, dang_info = #{dangInfo}, dang_headmax = #{dangHeadmax}, dang_private = #{dangPrivate}, dang_pw = #{dangPw}, dang_area = #{dangArea} where dang_no = #{dangNo}
  	</update>
  	
  	<!-- 댕모임 프로필 첨부파일 번호 조회 -->
  	<select id = "selectDangImg" parameterType = "int" resultType = "int">
  		select attachment_no from dang_img where dang_no = #{dangNo}
  	</select>
  	
  	<!-- 지역구별 댕모임 5개 조회(좋아요 순/회원수 순) -->
  	<select id = "searchDangTop" parameterType = "String" resultType = "DangTopVO">
  		select * from (select tmp.*, rownum rn from(select dang_no, dang_name, dang_area from dang where dang_area = #{dangArea} order by dang_like, dang_head)tmp) where rn between 1 and 5
  	</select>
  	
  	<!-- 댕모임 번호로 등록된 해시태그 전체 조회 -->
 	<select id = "selectList" parameterType = "int" resultType = "DangHashtagVO">
 		select hashtag_no, hashtag_content from dang_hashtag where dang_no = #{dangNo}
 	</select>
  		
  	<!-- 댕모임 상세 정보 -->
 	<select id = "selectDangDetail" parameterType = "int" resultMap = "vo">
 		select * from dang d left outer join dang_img di on d.dang_no = di.dang_no where d.dang_no = #{dangNo}
 	</select>
 	<resultMap id = "vo" type = "DangDetailDto">
 		<association property = "dangInfo">
 			<result column = "dang_no" property = "dangNo"/>
 			<result column = "dang_name" property = "dangName"/>
 			<result column = "dang_info" property = "dangInfo"/>
 			<result column = "dang_headmax" property = "dangHeadmax"/>
 			<result column = "dang_head" property = "dangHead"/>
 			<result column = "dang_area" property = "dangArea"/>
 			<result column = "dang_createtime" property = "dangCreatetime" javaType="java.sql.Date"/>
 			<result column = "dang_private" property = "dangPrivate"/>
 			<result column = "dang_pw" property = "dangPw"/>
 			<result column = "attachment" property = "attachmentNo"/>
 		</association>
 		<collection column = "dang_no" property = "dangHashtag" javaType = "java.util.List" ofType = "DangHashtagVO" select = "selectList">
 			<result column = "hashtag_no" property = "hashtagNo"></result>
 			<result column = "hashtag_content" property = "hashtagContent"></result>
 		</collection>
 	</resultMap>
  	
</mapper>