<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dangReply">

	<!-- 댓글 시퀀스 조회 -->
	<select id="sequence" resultType="int">
		select dang_reply_seq.nextval from dual
	</select>

	<!-- 댓글 등록 -->
	<insert id="insert" parameterType="DangReplyDto">
		insert into dang_reply(reply_no, board_no, member_no, member_nick, 
		reply_content, reply_writedate, reply_updatedate, reply_state) 
		values(#{replyNo}, #{boardNo}, #{memberNo}, #{memberNick}
		, #{replyContent}, sysdate, sysdate, 'N')
	</insert>

	<!-- 게시글의 댓글조회 기본 5개
		(댓글테이블 전체, 댓글작성자의 방장여부와 프로필사진, 본 게시글 작성자(닉네임)) -->
	<select id="oneBoardList" resultType="ReplyHistoryVO" parameterType="int">
		select*from(
		    select TMP.*, rownum rn from(
		        select reply.*, board.member_nick as board_member_nick, 
		        m.member_owner, m.user_no, uimg.attachment_no from dang_reply reply
			        left outer join dang_board board on reply.board_no=board.board_no
			        left outer join dang_member m on reply.member_no=m.member_no
			        left outer join user_img uimg on m.user_no=uimg.user_no 
		        where reply.board_no=#{boardNo} order by reply.reply_no desc
		    )TMP
		) where rn between 1 and 5
	</select>
	
	<!-- 더보기 댓글조회(+5개씩)
		(댓글테이블 전체, 댓글작성자의 방장여부와 프로필사진, 본 게시글 작성자(닉네임)) -->
	<select id="moreReplyList" resultType="ReplyHistoryVO" parameterType="Map">
		select*from(
		    select TMP.*, rownum rn from(
		        select reply.*, board.member_nick as board_member_nick, 
		        m.member_owner, m.user_no, uimg.attachment_no from dang_reply reply
			        left outer join dang_board board on reply.board_no=board.board_no
			        left outer join dang_member m on reply.member_no=m.member_no
			        left outer join user_img uimg on m.user_no=uimg.user_no 
		        where reply.board_no=#{boardNo} and <![CDATA[reply.reply_no<#{replyNo}]]> 
		        order by reply.reply_no desc
		    )TMP
		) where rn between 1 and 5
	</select>

	<!-- 내가 쓴 댓글 조회-->
	<select id="writeCount" resultType="int" parameterType="int">
		select count(*) from dang_reply where member_no=#{memberNo}
	</select>
	
	<!-- 댓글 하나만 조회 -->
	<select id="selectone" resultType="ReplyHistoryVO" parameterType="int">
		select reply.*, board.member_nick as board_member_nick, 
		        m.member_owner, m.user_no, uimg.attachment_no from dang_reply reply
			        left outer join dang_board board on reply.board_no=board.board_no
			        left outer join dang_member m on reply.member_no=m.member_no
			        left outer join user_img uimg on m.user_no=uimg.user_no 
		        where reply_no=#{replyNo}
	</select>
	
	<!-- 게시글에 달린 댓글 번호 조회 -->
	<select id="replyNoList" resultType="int" parameterType="int">
		select reply_no from dang_reply where board_no=#{boardNo}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="update" parameterType="Map">
		update dang_reply set reply_content=#{replyContent}, reply_updatedate=sysdate where reply_no=#{replyNo}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="int">
		delete dang_reply where reply_no=#{replyNo}
	</delete>
  
</mapper>
  
  
  